// @import '../../../theme/colors.scss';


ion-content {
    --keyboard-offset: 0px !important;
    --background: #ECF0F1;
}

.wrapper {
    width: 100%;
    height: 100%;
    font-size: 25px;
    background-color: #C0D6E8;
}

img {
    height: 80px;
    width: 80px;
    transform: rotate(40deg);
    margin-bottom: 20px;
    margin-top: 20px;
}

ion-text h3 {
    color: #003049;
    font-size: 30px;
    font-family: 'Dream Orphan', sans-serif;
}

ion-item {
    border-radius: 6px;
    border-color: #003049;
    margin-bottom: 8px;
    border-width: 1.5px
}

.button-group {
    width: 90%;
    height: auto;
}

ion-button {
    margin-top: 20px;
    --padding-top: 15px;
    --padding-bottom: 14px;
    --background: #003049;
}

ion-input,
ion-button {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 600;
}