<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" (ionWillOpen)="onMenuWillOpen()" >
      <div class="header-menu full-center">
        <div class="user-info-logout with-border" >
          <div class="user-info justify-start p-relative">
            <div class="p-absolute" style="right:0px;top:0px;">
              <ion-button (click)="logout()" style="--background:transparent;--box-shadow:0px 0px 0px rgba(0, 0, 0, 0.5);">
                <!-- <ion-icon slot="icon-only" name="exit-outline" style="font-size: 40px; color:darkslategrey;"></ion-icon> -->
                <img src="/assets/images/logout.png" alt="" style="height: 40px; width: 40px!important;">
              </ion-button>
            </div>
            <div id="circle-external" class="full-center">
              <div id="circle-internal">
                <img src="assets/images/profile.png" alt="" style="width:100%;height:100%;transform: scale(1.1);">
              </div>
            </div>
            <div style="margin-top: 20px;">
              <ion-text>
                <h3><strong>{{logged_user.name}}</strong></h3>
                <span>{{logged_user.email}}</span>
              </ion-text>
            </div>
          </div>

        </div>
      </div>
      <div class="content-menu p-relative">
        <ion-menu-toggle  autoHide="false">
          <ion-list lines="full" class="comp-list">
            <ion-item class="comp-item" routerLink="/shippings/home">
              <ion-icon name="briefcase"></ion-icon>
              <ion-label class="label_menu">Gestion</ion-label>
            </ion-item>
            <ion-item  class="comp-item" routerLink="/statistics">
              <ion-icon name="analytics"></ion-icon>
              <ion-label class="label_menu">Statistique</ion-label>
            </ion-item>
            <ion-item  class="comp-item" routerLink="/parametre">
              <ion-icon name="settings"></ion-icon>
              <ion-label class="label_menu">Mon Compte</ion-label>
            </ion-item>
            <ion-item  class="comp-item" (click)="ReferToWebApp()">
              <ion-icon name="body"></ion-icon>
              <ion-label class="label_menu">Confidentialité</ion-label>
            </ion-item>
            <ion-item  class="comp-item" (click)="ReferToWebApp()">
              <ion-icon name="at-circle"></ion-icon>
              <ion-label class="label_menu">Nous Contacter</ion-label>
            </ion-item>
            <ion-item  class="comp-item" (click)="closeApp()">
              <ion-icon name="power"></ion-icon>
              <ion-label class="label_menu">Quitter</ion-label>
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
        <ion-text class="p-absolute" >
          <span>Olbizgo Express mobile <strong>v1.0</strong></span>
        </ion-text>
      </div>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
