


.head-title{
    margin-bottom: 50px;
}
ion-text{
    margin-top: 15px;
    line-height: 15px;
}
ion-card{
    height: 115px;
}
ion-item{
    --background:transparent;
    --padding-end:0px!important;
    --padding-bottom:0px!important;
    --padding-start:0px!important;
    --padding-top:0px!important;
    --border-color:transparent;
    --inner-padding-end: 0px
}
// .item-inner{
//     padding-right: 0px!important;
// }
ion-toolbar,
ion-text,
ion-card {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
