<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil, Gestion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="wrapper full-center" style="width: 100%;height: 100%; padding:0px 20px; transform: translateY(-20px);">
    <div class="vertical-center" style="width: 100%;">
      <div class="head-title">
        <ion-text>
          <div class="justify-center">
            <img src="/assets/images/cafe.png" alt="" style="height: 45px; width: 45px;">
          </div>
          <h2><strong>Panneau de gestion</strong></h2>
          <p style="margin: 0 8px;text-align: center;">Choisissez une opération </p>
        </ion-text>
      </div>

      <div class="justify-center" style="width: 100%; flex-wrap: wrap;">  
        <ion-item  button style="width: 50%;" routerLink="/shippings/add-one">
          <ion-card style="--background: #A8DADC;text-align: center;">
            <ion-card-content class="vertical-center">
              <ion-icon name="add-outline" slot="start" style="font-size: 40px; margin-right: 10px;"></ion-icon>
              <ion-text>Créer une expedition</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-item>

        <ion-item  button style="width: 50%;" routerLink="/shippings/list">
          <ion-card style="--background: #A8DADC;text-align: center;">
            <ion-card-content class="vertical-center">
              <ion-icon name="list-outline" slot="start" style="font-size: 40px; margin-right: 10px;"></ion-icon>
              <ion-text>Liste des expedition</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-item>

        <ion-item  button style="width: 50%;" routerLink="/shipping/update/scan">
          <ion-card style="--background: #A8DADC;text-align: center;">
            <ion-card-content class="vertical-center">
              <ion-icon name="pencil-outline" slot="start" style="font-size: 40px; margin-right: 10px;"></ion-icon>
              <ion-text>Mettre à jour une ...</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-item>

        <ion-item  button style="width: 50%;" routerLink="/statistics">
          <ion-card style="--background: #A8DADC;text-align: center;">
            <ion-card-content class="vertical-center">
              <ion-icon name="pie-chart-outline" slot="start" style="font-size: 40px; margin-right: 10px;"></ion-icon>
              <ion-text>Statistique globales</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>