<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mon Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <div class="wrapper" style="margin: 0px 10px; margin-top: 20px;">
    <h3><strong>Notification</strong></h3>
    <ion-list>
      <ion-item>
        <ion-label>Alerte par Email</ion-label>
        <ion-toggle [checked]="true"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Alerte par SMS <sub>Frais additionnels</sub></ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-list>

    <h3><strong>Paiement et Services</strong></h3>
    <ion-list>
      <ion-item>
        <ion-label>Methode de paiement</ion-label>
        <ion-thumbnail slot="end" style="height: 30px;">
          <img alt="om" src="/assets/images/om-logo.png" />
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-label>Option de paiement</ion-label>
        <ion-label slot="end">Abonement</ion-label>
      </ion-item>
    </ion-list>
  </div>
  
</ion-content>
